{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="swiper-content">

        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Slides -->
                {% for p in page.find('/projecten').children if p != page %}

                    <div class="swiper-slide">
                        <div class="content-left">
                            <div class="content-holder">

                                <h1>{{ p.header.title }}</h1>

                                {#{% for q in p.header.qualifications %}#}

                                {#<span class="caption">{{ q.qualification }}</span>#}

                                {#{% endfor %}#}

                                <p>{{ p.header.intro }}</p>

                                {#TODO Add translation#}
                                <a href="{{ p.url }}" class="secondary button">Bekijk project</a>

                            </div>
                        </div>
                        <div class="content-right">

                            <div class="image-holder">

                                <img src="{{ (p.header.image|first).path }}" alt=""/>

                            </div>

                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

    {# removes footer #}
    {% block footer %}{% endblock %}

{% endblock %}
