{% extends 'partials/base.html.twig' %}

{% block content %}

    {% include 'elements/top-content.html.twig' %}

    <div class="intro-image">

        <img src="../{{ (page.header.image|first).path }}" alt=""/>

    </div>

    {% if page.header.content_intro %}

        <div class="row">
            <div class="column small-12 medium-8 medium-offset-2">
                <div class="intro-content">

                    <p>{{ page.header.content_intro }}</p>

                </div>
            </div>
        </div>

    {% endif %}

    {% if page.header.content_block %}

        <div class="content-container">

            {% for content in page.header.content_block %}

                <div class="content-wrapper">
                    <div class="row">
                        <div
                            class="column medium-4 medium-offset-1{% if loop.index is divisibleby(2) %} even{% endif %}">
                            <h2> {{ content.title }} </h2>
                            <p> {{ content.text }} </p>
                        </div>
                        <div class="column medium-5 medium-offset-1">
                            <div class="image-content-holder">
                                <img src="../{{ (content.image | first).path }}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% if page.header.content_reflection %}

                <div class="content-wrapper">
                    <div class="row">
                        <div class="column small-12 medium-8 medium-offset-2">

                            {#TODO Add translation#}
                            <h2>Reflectie</h2>
                            <p>{{ page.header.content_reflection }}</p>

                        </div>
                    </div>
                </div>

            {% endif %}

        </div>

    {% endif %}

{% endblock %}
