{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="top-content">
        <div class="row">
            <div class="column medium-6 medium-offset-0">

                <h1>{{ page.title }}</h1>
                <p>{{ page.content }}</p>

            </div>
        </div>
    </div>

    {% for text in page.header.custom_text_fields %}

        <div class="row">
            <div class="column medium-6 medium-offset-3">
                <div class="content-block-text">
                    <div class="row">
                        <div class="column medium-2">

                            <img src="{{(text.image|first).path}}" />

                        </div>
                        <div class="column medium-6">

                            <h2>{{ text.title }}</h2>

                            <span class="caption">{{ text.caption }}</span>

                        </div>
                    </div>

                    <p>{{ text.textarea }}</p>

                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
