{% extends 'partials/base.html.twig' %}

{% block content %}

    {% include 'elements/top-content.html.twig' %}

    {% if page.header.custom_text_fields %}

        {% for text in page.header.custom_text_fields %}

            <div class="row">
                <div class="column medium-6 medium-offset-3">
                    <div class="content-block-text">
                        <div class="row">

                            {% if text.image %}

                                <div class="column medium-2">

                                    <img src="{{ (text.image|first).path }}" alt=""/>

                                </div>

                            {% endif %}

                            {% if text.title and text.caption %}

                                <div class="column medium-6">

                                    <h2>{{ text.title }}</h2>

                                    <span class="caption">{{ text.caption }}</span>

                                </div>

                            {% endif %}

                        </div>

                        <div class="row">
                            <div class="column medium-12">

                                <p>{{ text.textarea }}</p>

                            </div>
                        </div>

                        <div class="button-wrapper">

                            <a href="{{ text.link }}" class="primary button">Website</a>
                            <a href="#" class="secondary button">Lees meer</a>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}

    <div class="summary-wrapper">
        <div class="row">
            <div class="column medium-10 medium-offset-1">

                <h2>{{ page.header.summary_title }}</h2>
                <p>{{ page.header.summary }}</p>

            </div>
        </div>
    </div>

    <div class="bottom-content">
        <div class="row">
            <div class="column medium-8 medium-offset-2">

                {#TODO Add translations or via admin panel#}
                <span class="caption">Gebruikte Programmeertalen:</span>

                <div class="logo-wrapper">

                    {% for logo in page.header.programming_logos %}

                        <img src="{{ (logo.logo|first).path }}"/>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

